:root {
    --main-color: #f890e7;
    --secondary-color:#0bd3d3;
    --third-color: #d0d0d0;
}
.header-nav {
    background-color: white;
    margin: unset;
}
.header-row {
    width: 100%;
    padding: unset;
    margin: unset;
}
.movie-poster {
    max-height: 30vh;
    max-width: 30vh;
}

/*Start Search Button CSS*/
.searchBtn {
    padding: 0.5rem 0.5rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.24);
    color: var(--secondary-color);
    border-radius: .5rem;
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    border-top: 2px solid rgba(255, 255, 255, 0.11);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    transition-duration: 1s;
    transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}

.searchBtn:hover {
    border-top: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}
/*End of Search Button CSS*/

/*Start Search Bar CSS*/
.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: var(--main-color);
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
    color:;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}
/*End of Search Bar CSS*/

/*Cards CSS*/
.card {
    --cardbg: 245, 245, 245;
    --cardBase: 235, 16, 206;
    --cardText: 100, 100, 100;
    --cardTextBtn: 106, 16, 88;
    --cardsquares: 156, 113, 227;
    display: flex;
    flex-flow: row nowrap;
    place-items: center;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 3em rgba(var(--cardBase), .25),
    inset 0 -.25em 1px rgba(var(--cardBase), .125);
    border-radius: 4px;
    background: rgba(var(--cardbg), 1);
    position: relative;
    width: 100%;
    height: auto;
    perspective: 1000px;
    z-index: 0;
    transition: all 1s ease-out;
}

.card:hover {
    filter: grayscale(0%);
    scale: 1.025;
    box-shadow: 0 0 5em rgba(var(--cardBase), .5);
}

.card::after,
.card::before {
    content: '';
    width: 200px;
    height: 50%;
    display: block;
    background-color: rgba(var(--cardsquares), .5);
    filter: blur(10px);
    position: absolute;
    transition: all 5s ease-out;
    opacity: .1;
    z-index: 0;
}

.card:hover::after,
.card:hover::before {
    opacity: .5;
    rotate: 60deg;
}

.card:hover::after {
    translate: 100% 0;
}

.card:hover::before {
    translate: -100% 0;
}

.card .card-title {
    color: var(--secondary-color);
    font-size: 1.1em;
    font-weight: 600;
    margin: .5em;
    position: relative;
    transition: all .3s ease-out;
    z-index: 100;
    text-shadow: 0px 0px 0px rgba(var(--cardText), .25);
}

.card:hover h3 {
    color: rgba(var(--cardText), 1);
    text-shadow: 0px 8px 5px rgba(var(--cardText), .35);
}

.card:hover span {
    filter: grayscale(0%);
}

/* Inner card */
.card-info::after {
    left: -6rem;
    bottom: 0;
}

.card-info::before {
    right: -6rem;
    top: 1rem;
}


/* Inner card container and UI */
.card-info {
    width: 100%;
    --angle: 0deg;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    padding: 1em;
    margin: 0 .75em;
    color: black;
    background-color: rgba(250, 246, 246, 1);
    transition: all .5s ease-out;
    animation: animateBorder 10s linear infinite reverse;
    border: .15em solid;
    position: relative;
    z-index: 10;
    border-image: linear-gradient(var(--angle), rgba(var(--cardbg), 1), rgba(var(--cardBase), .5), rgba(var(--cardbg), 1)) 1;
}

.card-info p {
    color: rgba(var(--cardText), 1);
    line-height: 1.25em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 1em;
    margin: 1em 0;
    transition: all .3s ease-out .3s;
    width: 100%;
    height: auto;
}

.card-info .btn {
    display: block;
    padding: 8px 16px;
    background-color: rgba(var(--cardBase), .35);
    color: rgba(var(--cardTextBtn), .75);
    text-decoration: none;
    border-radius: 4px;
    font-size: .85em;
    transition: all 0.3s ease-in-out;
}

.card-info .btn:hover {
    cursor: pointer;
    background-color: rgba(var(--cardsquares), .35);
}

.card-info .btn:active {
    box-shadow: inset 0px -2px 3px rgba(var(--cardBase), .25);
}

@keyframes animateBorder {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
/*End of Cards CSS*/

/*Button to get to favorite movie list*/
.fav-movie-list {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge var(--secondary-color);
    outline: none;
    background-color: white;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.fav-movie-list::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
    transform-origin: center;
}

.fav-movie-list::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
}

.fav-movie-list:hover::before, .fav-movie-list:hover::after {
    transform: scale(0)
}

.fav-movie-list:hover {
    box-shadow: inset 0px 0px 30px var(--secondary-color);
    color: var(--main-color);
}
/*  End of favorite movies tab*/